.toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #2a5298;
}
.toggle-password:hover {
    color: #1e3c72;
}
.position-relative {
    position: relative;
}
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* espacio para el ojo */
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
    color: #666;
}